#mainbox {
  /*  background-image: url(assets/background.jpg); */
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

#canv {
    overflow: hidden;
    width: 100%;
    position: absolute;
}

#alt_canv {
    overflow: hidden;
    width: 100%;
    opacity: 0.25;
}

#selectBtn {
    background-color: green;
}

._wrong {
    background-color: #ff4200;
}

._right {
    background-color: #00ff70;
}

._uiButton {
    outline: auto;
    background-color: coral;
}

._inactiveBtn {
    opacity: 0.25;
    cursor: default;
}

#playBtn {
    width: 5%;
    position: absolute;
    top: 1%;
    right: 1%;
}

#pauseBtn {
    width: 5%;
    position: absolute;
    top: 1%;
    right: 7%;
}

#nextBtn {
    width: 5%;
    position: absolute;
    top : 1%;
    right: 14%;
}

#prevBtn {
    width: 5%;
    position: absolute;
    top: 1%;
    right: 20%;
}

#selectBtn {
    width: 5%;
    position: absolute;
    top: 11%;
    right: 1%;
}

#importBtn {
    width: 5%;
    position: absolute;
    top: 1%;
    left: 1%;
}

#exportBtn {
    width: 5%;
    position: absolute;
    top: 1%;
    left: 7%;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#framerate {
    width : 5%;
    height: 5%;
    font-family: fantasy;
}

#range-container {
    width: 100%;
    margin-top: 1%;
}

#button-container {
    width: 5%;
}